# RStudio files
.Rproj.user/

# The devtools zip is downloaded when the package is updating itself 
devtools.zip

# Protected Information
UnsharedMaterial/

# History files
.Rhistory

# Example code in package build process
*-Ex.R
