##############
# R and RStudio files.
.Rhistory
.RData
.Rproj.user
.Rproj.user/

# The devtools zip is downloaded when the package is updating itself.  If it's not deleted, there's no reason to commit it to the repository.
devtools.zip

##############
# Protected Information; see cubuspl42's answer in http://stackoverflow.com/questions/2415873/exceptions-in-gitignore
/unshared_material/*
/unshared-material/*
/data_unshared/*
/data-unshared/*

# Unnecessary files for knitr reports

# Dataset Exceptions
!utility/package_dependency_list.csv
!utility/package-dependency-list.csv

# Keep the README files in the unshared directories.  They provide documentation, and also force the directories to be created on other machines.
# Depending on how you do it, you might need to add w/ the command line (eg, git add -f ./data_unshared/raw/README.md)
!README.md
!data-unshared/contents.md
!data-unshared/raw/README.md
!data-unshared/derived/README.md

##############
# Exclude caches in case they contain PHI
cache/
*/cache/
*/*/cache/

##############
# Windows
# Cached small image files
Thumbs.db
# Folder config file
Desktop.ini
